@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Playfair+Display:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	--navlinks: #0b3053;
	--navbg: #a1d5a7;
	--calendarcolor: #000;
	font-family: 'Josefin Sans', sans-serif;
}

html {
	scroll-behavior: smooth;
}

/* Scrollbar */
::-webkit-scrollbar{
	width: .625em;
}
::-webkit-scrollbar-track{
	margin-block: 0.15em;
}
::-webkit-scrollbar-thumb{
	background: #808080;
	border-radius: 100vw;
}
::-webkit-scrollbar-thumb:hover{
	background: #5c5858;
}

/* Navbar */
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 8.5vh;
	background-color: var(--navbg);
	font-family: "Lora", "sans-serif";
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 1;
    font-size: 1.15rem;
}




.logo {
	color: var(--navlinks);
	letter-spacing: 2px;
	font-size: 25px;
	padding-left: 25px;
	padding-top: 5px;
}
.logo svg{
	height: 75px;
}
.nav-links {
	display: flex;
	justify-content: space-around;
	width: 30%;
}
.nav-links li {
	list-style-type: none;
}
.nav-links li a {
	color: var(--navlinks);
	text-decoration: none;
	font-weight: bold;
    display: inline-block;
}
.nav-links li a::after{
    content: "";
    width: 0;
    height: 2px;
    display: block;
    background-color: var(--navlinks);
    transition: all 0.3s ease-in-out;
}
.nav-links li a:hover:after{
    width: 100%;
}
.menu {
	display: none;
}
.menu div {
	width: 20px;
	height: 2px;
	margin: 5px;
	background: var(--navlinks);
	transition: all 0.3s ease;
}

.pad-day {
	color:rgba(0, 0, 0, 0.356)
}

.bold {
	font-style: bold;
}

.switch-month {
	display: flex;
	justify-content: center;
}

.switch-month a {
	text-decoration: none;
	color:black;
	margin: 6px;
	transition: ease-out 1.7s
}

.switch-month a:hover {
	color: orange;
	transition: ease-out 0.7s;
	transform: scale(1.1);
}


@media (max-width: 1000px) {
	.nav-links {
		width: 40%;
	}
}

@media (max-width: 768px) {
	body {
		overflow-x: hidden;
	}
	.nav-links {
		position: absolute;
		right: 0;
		height: 92vh;
		top: 8vh;
		background: var(--navbg);
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 40%;
		transform: translateX(100%);
		transition: transform 0.5s ease-in;
	}
	.nav-links li {
		opacity: 0;
	}
	.menu {
		display: block;
		cursor: pointer;
	}
}

.nav-active {
	transform: translateX(0%);
}
@keyframes navLinks {
	from {
		opacity: 0;
		transform: translateX(50px);
	}
	to {
		opacity: 100;
		transform: translateX(0px);
	}
}

.toggle .line1 {
	transform: rotate(-45deg) translate(-4px, 6px);
}
.toggle .line2 {
	opacity: 0;
}
.toggle .line3 {
	transform: rotate(45deg) translate(-4px, -6px);
}

/* Footer */
.footer{
	position: absolute;
	bottom: 0;
	margin: 0;
	color: #fff;
	background: var(--calendarcolor);
	padding: 10px 0;
	padding-bottom: 10px;
    height: 12vh;
	width: 100vw;
}
.social{
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
}
.social a{
	display: flex;
	align-items:center;
	height: 30px;
	padding: 10px;
}
.social img{
	width: 25px;
}
.social a:hover{
	opacity: 0.75;
}
.copyright{
	text-align: center;
}

/* Calendar */
.day {
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.705);
    margin-top: -1px;
    margin-left: -1px;
    align-items: top;
    justify-content: end;
    /* font-family: 'Playfair Display',serif; */
    font-weight: bold;
    font-size: 1.15rem;
}
.day a{
    text-decoration: none;
    color: var(--calendarcolor);
	display: inline-block;
}
.day a::after{
	content: "";
    width: 0;
    height: 2px;
    display: block;
    background-color: var(--calendarcolor);
    transition: all 0.1s ease-in-out;
}
.day a:hover::after{
	width: 100%;
	cursor: pointer;
}
.calendar-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    height: 64vh;
}

.Month{
    height: 11.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
	flex-direction: column;
}
.Month h1{
    font-size: 4em;
    /* font-family: 'Lora',serif; */
    text-decoration: dashed underline orange;
}

/* Registration and Login */
.container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 20vh auto;
	width: fit-content;
	padding: 20px;
	font-family: Arial, Helvetica, sans-serif;
	border: 1px solid var(--calendarcolor);
	border-radius: 10px;
	box-shadow: 10px 10px 14px -1px rgba(0,0,0,0.5);
	-webkit-box-shadow: 10px 10px 14px -1px rgba(0,0,0,0.5);
	-moz-box-shadow: 10px 10px 14px -1px rgba(0,0,0,0.5);
	background-color: #ffffff;

}
.container h1{
	font-size: 2rem;
	padding-bottom: 10px;
	text-decoration:underline dashed orange;
}
.container ul {
	list-style-type: none;
}
.container li {
	padding: 4px;
}
.container p{
	padding: 5px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.container input{
	border: none;
	outline: none;
	border-bottom: 1px solid #0000006c;

}
.container input:focus{
	border-bottom: 1px solid var(--calendarcolor)
}
.helptext {
	display: none
}



.btn{
	display: inline-block;
	padding: 10px 30px;
	cursor: pointer;
	background:#047aed;
	color: #fff;
	border: none;
	border-radius: 5px;
	margin: 10px 190px;
}

/* submit button an animation */

.submit-btn {
	background-color: orange;
	color: black;
	padding: 10px 30px;
	border-radius: 12px;
	display: inline-block;
	margin: 10px 190px;
	border: none;
	transition: all;
}

.submit-btn:hover {
	background-image: linear-gradient(130deg, orange 60% , orangered);
    background-size: 200% 200%;
	animation: gradient 5s ease infinite;
}

@keyframes gradient { 
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}

ul:first-of-type {
	color: rgba(0, 0, 0, 0.5);
	font-size: 12px;
}

form input:focus {
	border: 2px solid orange
}

.errorlist {
	color:red
}