<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'month/style.css' %}">
</head>
{{specificDay}}
<body>
  <div class="calendar-container">
    {% for i in pad_range %}
    <div class="pad-day day"></div>
    {% endfor %}
    {% for day in dates %}
    <div class="day">{{day}}</div>
    {% endfor %}
  </div>
</body>
</html>