{% extends "base_files/base.html" %}

{% block content %}
  <!-- Calendar -->
  <div class="Month">
    <h1 class='month-head'>{{month}}</h1>
  </div>
    <div class="switch-month">
      <a href="/month/{{prev_month}}" class="material-icons">arrow_back_ios</a>
      <a href="/month/{{next_month}}" class="material-icons">arrow_forward_ios</a>
  </div>

  <div class="calendar-container">
    {% for day_of_week in days_of_week %}
    <div class="day"><b>{{day_of_week}}</b></div>
    {% endfor %}
    {% for i in pad_range %}
    <div class="pad-day day"> {{i}}</div>
    {% endfor %}
    <!-- padding end -->
    {% for day in dates %}
    {% if day in arr_of_events %}
    <div class="day event"><a href="/month/{{month}}/{{day.date}}">{{day.date}}</a></div>
    {% else %}
    <div class="day"><a href="/month/{{month}}/{{day.date}}">{{day.date}}</a></div>
    {% endif %}
    {% endfor %}
    {% for i in over_pad_range %}
    <div class="pad-day day"> {{i}}</div>
    {% endfor %}
  </div>

{% endblock %}
