<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link rel="stylesheet" href="{% static 'month/style.css' %}" />
        <title>Reset Password - Plannr</title>
    </head>

    <body class="gradient">
        <div class="container" style="width: fit-content; padding: 60px 100px">
            <h1>Planner - Reset Password Sent</h1>
            {% include 'includes/messages.html' %}
            <p>
                We've emailed you instructions for setting your password, if an
                account exists with that email you should recieve them shortly.
            </p>
        </div>
    </body>
</html>
