<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link rel="stylesheet" href="{% static 'month/style.css' %}" />
        <title>Reset Password - Plannr</title>
    </head>

    <body class="gradient">
        <div class="container" style="width: fit-content; padding: 60px 100px">
            <h1>Planner - Reset Password Confirm</h1>
            <p>
                Please enter your new password. {% include
                'includes/messages.html' %}
            </p>

            <form method="POST">
                {% csrf_token %} {{ form.as_p }}
                <button type="submit" class="submit-btn">Reset Password</button>
            </form>
        </div>
    </body>
</html>
