<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'month/style.css' %}" />
        <title>Register - Plannr</title>
    </head>

    <body  class="gradient">
        {% include 'includes/messages.html' %}
        <div class="container" style="padding: 30px 100px; width:fit-content; height:fit-content;">
            <h1>Plannr - Sign Up</h1>
            <form method="POST">
                {% csrf_token %} {{ form.as_p }}
                <!-- <input type="text" name="username" id="">
               <input type="email" name="email" id="">
                <input type="password" name="password1" id="">
                <input type="password" name="password2" id="">-->
                <button type="submit" id='gradient' class="submit-btn">Submit</button>
            </form>
        </div>
    </body>
</html>
