{% extends 'base_files/base.html' %}

{% block content %}

{% if events %}
<div class="event-container">
    {% for event in events %}
    <div class="event-card">
        <h1 class='center-text'>{{event.title}}</h1>
        <p>{{event.description}}</p>
        {% if month %}
        <p class="subtle-text bottom-right">{{event.day.date}} {{month}} {{currentYear}}</p>
        {% else %}
        <p class="subtle-text bottom-right">{{event.day.date}} {{event.day.month}} {{currentYear}}</p>
        {% endif %}
        {% if event.start_time and event.end_time%}
        <p class="subtle">{{event.start_time}} - {{event.end_time}}</p>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% else %}
<div class="exception-container">
    <h1 class="error">404 NO EVENTS FOUND</h1>
    <p>Woopsie doopsie, you have no event for this day!</p>
    <i>Don't worry, it's okay :)</i>
</div>

{% endif %}

{% endblock %}